web/landing/www/binaries/hishtory-linux
hishtory
backend/server/server
postgres-data/
server
!backend/server
.DS_Store
node_modules/
package.json
package-lock.json
.prettierrc

# VS Code settings
.vscode/
